* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft YaHei';
    background-color: #dedede;
}


/*网页header*/

header {
    position: relative;
    height: 60px;
    background-color: #333;
}

h1 {
    padding-left: 10px;
    vertical-align: middle;
    color: #fff;
}

header ul {
    position: absolute;
    top: 0;
    right: 10px;
}

header ul li {
    display: block;
    float: left;
    text-align: center;
    width: 100px;
    padding: 20px 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}


/*网页主体main*/

article, aside {
    display: block;
    margin: 30px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px #848484;
}

h2 {
    padding: 5px 0;
}

h3 {
    padding: 10px 0;
    color: #888;
    font-size: 16px;
}

article p {
    text-indent: 2em;
    padding: 5px;
}

.author, .time {
    line-height: 20px;
    color: #888;
    font-size: 12px;
}

article a {
    color: #39f;
}

article a:hover {
    color: #f30;
}

img {
    padding: 10px 0;
    border-radius: 15px;
}

article ul li {
    list-style-type: none;
    text-indent: 2em;
}

figure {
    width: 200px;
    margin: 15px;
    border: 1px solid #ccc;
}

figcaption {
    display: block;
    text-align: center;
    margin: 5px;
    font-size: 12px;
}

figure img {
    display: block;
    margin: 0 auto;
    padding: 10px 5px;
    width: 150px;
}

article ol {
    text-indent: 1em;
    margin: 10px 0px 10px 50px;
}

article table {
    width: 100%;
    border-collapse: collapse;
}

article table tr th {
    text-align: left;
    color: #fff;
    background-color: #000;
}

article table tr td {
    border: 1px solid #888;
}

article table .buttomTable {
    background-color: #ccc;
    font-weight: bold;
}


/* 网页侧栏aside */

aside h4 {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-left: 3px solid #888;
}

aside form div {
    font-size: 14px;
    margin: 15px 0;
}

aside form div .tips {
    /* 设置label的宽度，让label浮动，右对齐，设置的padding-right的大小和下面提示文字的padding-left相等 */
    float: left;
    text-align: right;
    width: 35%;
    padding-right: 15px;
}

aside form div p {
    /* margin-left与label标签的宽度一样，设置的padding-left的大小和上面label的padding-right相等 */
    margin-left: 35%;
    padding-left: 15px;
    font-size: 12px;
    color: #aaa;
}

aside textarea {
    width: 50%;
    height: 100px;
}

aside .submitButton {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #128fdc;
    font-size: 20px;
}

aside .submitButton:hover {
    background: #0063dc;
}


/* 页脚footer */

footer {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}
